@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal styles */

* {
    margin: 0;
    padding: 0;
}

.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
  }

.text-center {
    text-align: center;
}

.primary-color {
    color: rgb(13, 19, 33);
}

.primary-color-alpha {
    color: rgba(13, 19, 33, 0.7);
}

.desc-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.section-heading {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}

/* banner styles */

.banner {
    background-image: url(assets/Hero-bg.png);
    height: 700px;
}

.banner-img {
    padding-top: 26px;
    display: flex;
    justify-content: center;
}

.banner-img img {
    width: 240px;
}

.banner-title-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.banner-title {
    width: 1000px;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

.banner-desc-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.banner-desc {
    width: 850px;
}

.banner-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.banner-btn button {
    height: 65px;
    width: 210px;
    border-radius: 8px;
    background: rgb(13, 19, 33);

    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
}

/* webdev styles */

.webdev-title {
    margin-top: 155px;
}

.webdev-desc-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.webdev-desc {
    width: 850px;
}

.webdev-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.webdev-card {
    width: 945px;
    height: 335px;
    padding: 48px;
}

.card-header {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.webdev-card img {
    width: 260px;
}